body{
    margin: 0;
    background-color: rgb(246, 246, 246);
}
.main{

}
.navbar{
    height: 64px;
    width: 100%;
    background-color: white;
   display: flex;
   justify-content: center;
}
.nav-lft{
    height: 100%;
    width: 60%;
    /* background-color: aqua; */
    display: flex;
}

.logo-div{
    height: 100%;
    width:15%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* background-color: bisque; */
}
.search-div{
    height: 100%;
    width: 85%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
}
img{
    height: 33px;
}
input{
    height: 32px;
    width: 540px;
    background-image: url("../assets/search .png");
    box-sizing: border-box;
    background-position: 8px ; 
    background-repeat: no-repeat;
    background-size: 16px;
    border: 1px solid rgba(107, 107, 107, 0.193);
    padding-left: 40px;
    font-size: 14px;
    
}
input::placeholder{
    color: rgb(149, 147, 147);
}
.nav-rgt{
    height: 100%;
    width: 20%;
    /* background-color: blue; */
    display: flex;
}
.place-div{
width: 50%;
height: 100%;
/* background-color: brown; */
display: flex;
align-items: center;
justify-content: end;
}

.place{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    
    /* background-color: antiquewhite; */
}
.arrowicon{
    height: 26px;
    /* background-color: aqua; */
}

p{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}
.signin-div{
    width: 50%;
    height: 100%;
    /* background-color: rgb(72, 48, 48); */
    display: flex;
}
.signin{
width: 70%;
/* background-color: aquamarine; */
display: flex;
align-items: center;
justify-content: end;
}
.signin a{
    text-decoration: none;
}
button{
    height: 25px;
    width: 67px;
    font-size: 12px;
    background-color: rgb(248, 68, 100);
    color: white;
    border: 1px solid rgb(248, 68, 100);
    outline: none;
    text-align: center;
    display: block;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.more{
    width: 30%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;

}
.moreicon{
    height: 40px;
    cursor: pointer;
}
.secnav{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center; 
    background-color: #F5F5F5;
    border-bottom: 1px solid rgba(123, 123, 123, 0.173);
}
.secnav-lft{
    height: 100%;
    width:60% ;
    /* background-color: rgb(73, 100, 91); */
    display: flex;

}
.seclft-content{
    margin: 0;
    display: flex;
    /* background-color: aqua; */
    height: 100%;
    width: 370px;
    align-items: center;
    justify-content: space-between;
    padding-left: 0px;
}
.seclft-content li{
    list-style: none;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    color:  rgb(51, 51, 51);
    text-decoration: none;
    font-family: roboto,sans-serif;
}
.secnav-rgt{
    height: 100%;
    width: 20%;
    /* background-color: blue; */
}
.secrgt-content{
    margin: 0;
    display: flex;
    /* background-color: aqua; */
    height: 100%;
    width: 310px;
    align-items: center;
    justify-content: space-between;
    padding-left: 0px;
}
.secrgt-content li{
    list-style: none;

    font-family: roboto,sans-serif;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
    color: rgb(51, 51, 51);
}
.thirdcontainer{
    height: 310px;
    width: 100%;
    background-color:#EBEBEB;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
}
.scrolldivs1{
    width: 1240px;
    height: 296px;
    background-color: rgb(42, 85, 123);
    border-radius: 10px;
    margin-left: 10px;
    background-image: url("https://assets-in.bmscdn.com/promotions/cms/creatives/1733911700713_edwebgeneralsales.jpg");
    cursor: pointer;
}
.scrolldivs2{
    width: 1240px;
    height: 296px;
    background-color: rgb(42, 85, 123);
    border-radius: 10px;
    margin-left: 10px;
    background-image: url("https://assets-in.bmscdn.com/promotions/cms/creatives/1733829732281_webshowcase1240x300.jpg");
    cursor: pointer;


}
.scrolldivs3{
    width: 1240px;
    height: 296px;
    background-color: rgb(42, 85, 123);
    border-radius: 10px;
    margin-left: 10px;
    background-image: url("https://assets-in.bmscdn.com/promotions/cms/creatives/1726036566435_playcardnewweb.jpg");
    cursor: pointer;

}
.fourthcontainer{
    width: 100%;
    height: 550px;
    margin-top: 20px;
    
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.fourthdiv{
    /* background-color: aquamarine; */
    width: 80%;
    height: 100%;
}
.fourthhead{
    /* background-color: blue; */
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}
.fourthheadlft{
    height: 100%;
    width: 300px;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
   
}
.fourthheadlft h1{
    word-break: break-word;
    color: rgb(51, 51, 51);
    font-family: Roboto,sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.17;
}
.fourthheadrgt{
    height: 100%;
    width: 300px;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: end;
}
.fourthheadrgt a{
    text-decoration: none;
   margin-right: 10px;
    word-break: break-word;
    color: rgb(220, 53, 88);
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
}
.fourthcontent{
    height: 90%;
    /* background-color: rgb(169, 113, 113); */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;
    overflow-y:hidden;
    justify-content: center;
    scrollbar-width: none;
    

}
.fourthcontent a{
    height: 100%;
    text-decoration: none;
    /* background-color: #535ec1; */
}
.card{
    height: 100%;
    width: 230px;
    /* background-color: #9d2222; */
    margin-right: 20px;
    
    
}
.movie{
    height: 378px;
    width: 100%;
    border-radius: 10px;
    
    /* background-color: rgb(57, 17, 81); */
}
.movie img{
    /* margin-top: 10px; */
    height: 100%;
    object-fit:contain;
    border-radius: 10px;
}
.moviename{
    height: 15%;
    width: 100%;
   
    padding: 0px;
    /* background-color: aqua; */
    
}
.moviename h3{
    
    color: rgb(34, 34, 34);
    font-family: Roboto,sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    word-break: break-word;
}
.moviename h5{
    margin-top: -10px;
    color: rgb(102, 102, 102);
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
}
.fifthcontainer{
    
    height: 175px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.fifthcontent-div{
    height: 100px;
    width: 80%;
    background-color: #261717;
    border-radius: 10px;
    background-image: url("https://assets-in.bmscdn.com/discovery-catalog/collections/tr:w-1440,h-120/stream-leadin-web-collection-202210241242.png");
    background-size: 100%;
    background-position: 0px;
    background-repeat: no-repeat;
}
.sixthcontainer{
    height: 400px;
    width: 100%;
    /* background-color: #bd9797; */
    display: flex;
    
    justify-content: center;
}
.sixthcontentdiv{
    margin-top: 20px;
    height: 85%;
    width: 80%;
    /* background-color: #231313; */
}
.sixthcontent-head{
    height: 15%;
    width: 100%;
    /* background-color: #4680c6; */
    display: flex;
    align-items: center;
}
.sixthcontent-head h1{
    color: rgb(51, 51, 51);
    font-family: Roboto,sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.17;
}
.sixthcontents{
    height: 85%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    gap: 28px;
}
.sixthcard{
    height: 220px;
    width: 220px;
    
    /* background-color: blueviolet; */
    border-radius: 10px;


}
.sixthcard img{
    height: 100%;
    border-radius: 10px;
}
.seventhcontainer{
    height: 120px;
    width: 100%;
    background-color:#2b3148;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.255);
}
.seventhcontent{
    height: 80%;
    width: 80%;
    /* background-color: aquamarine; */
}
.seventhcontent img{
    height: 100%;
    width: 100%;
}
.eightcontainer{
    height: 530px;
    width: 100%;
    background-color:#2b3148;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eightcontainer h1{
    
    color: rgb(255, 255, 255);
    font-family: roboto,sans-serif;
}
.eightcontainer h3{
    margin-top: 5px;
    color: #ffffff;
}
.eightcontainer h5{
    color: #ffffff;
    margin-top: -15px;
    font-family: roboto,sans-serif;

}
.eighthead{
    /* background-color: blue; */
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}
.eightheadlft{
    height: 100%;
    width: 100%;
    display: flex;
    /* background-color: blueviolet; */
   
   
}
.box{
    
    height: 100%;
    width: 500px;
    /* background-color: brown; */
   
    
}
.movies{
    margin-top: 10px;
    width: 80%;
    border-radius: 10px;
    
    /* background-color: rgb(57, 17, 81); */
}
.movies img{
    /* margin-top: 10px; */
    height: 90%;
   width: 125%;
    border-radius: 10px;
}
.twlthcontainer{
    height: 300px;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
}
.twlthcontent-div{
    height: 100%;
    width: 80%;
    /* background-color: aqua; */
}
.twlthheader{
height: 20%;
width: 100%;
/* background-color: #2b3148; */
display: flex;
}
.twlthheader h1{
    color: rgb(51, 51, 51);
    font-family: Roboto,sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.17;
}
.twlthcontents{
height: 80%;
width: 100%;
display: grid;
grid-template-columns: auto auto auto auto auto auto auto ;
/* grid-template-rows: auto auto; */
/* background-color: rgb(182, 122, 48); */
align-items: center;

}
.smallbox{
    height: 70px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
    border: 1px solid rgba(128, 128, 128, 0.136);
   
}
.smallbox h4{
    color: rgb(248, 68, 100);
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
}
.smallbox h5{
margin-top: -12px;
color: rgb(102, 102, 102);
    font-family: Roboto ,sans-serif;
    font-size: 14px;
    font-weight: normal;
    /* line-height: 1.43; */

}
.firstfooter{
    height: 100px;
    width: 100%;
    background-color: #261717;
}
.twlthcontents a{
    text-decoration: none;

}

.footer1{
    margin-top: 20px;
    height: 90px;
    width: 100%;
    background-color: #333338;
    border-bottom: 1px solid rgba(88, 88, 88, 0.329);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer1cont{
    width: 80%;
    height: 100%;
    /* background-color: #A5A5A5; */
    display: flex;

}

.footer1lft{
    /* background-color: blueviolet; */
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}
.footer1lft img{
margin-right: 20px;
}
.footer1lft h3{
font-size: 16px;
font-family: roboto,sans-serif;
color: #ffffff;
margin-right: 20px;
font-weight: 600;
}
.footer1lft h4{
    font-size: 14px;
    font-weight: 500;
    font-family: roboto,sans-serif;
    color: #ffffff;
    margin-right: 10px;
}
.footer1rgt{
    /* background-color: rgb(72, 57, 87); */
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.footer1rgt button{
    width: 150px;
    height: 40px;
    background-color: rgb(236, 94, 113);
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    
}
.footer1rgt a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
   
}


.session17{
    display: flex;
    width: 100%;
    height: 790px;
    background-color: #333338;
    
    
}
.s17_2{
    width: auto;
    height: auto;
    margin-left: 10%;
   
}
.s17_2 dt{
    color: #A5A5A5;
    margin: 0px 0px 20px;
    font: 12px roboto,sans-serif;
    font-size: 12px;
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    margin: 20px 0px 20px;
    color: rgb(165, 165, 165);
}
.s17_2 dd{
    color: rgb(127, 127, 127);
    margin-left: 0px;
    margin: 0px 5px 5px 0px;
    font: 11px roboto,sans-serif;

}
.session17 a{
    font-size: 11px;
    color: rgb(127, 127, 127);
    letter-spacing: 0.1px;
    text-decoration: none;
    transition: color 0.25s ease-in-out;
    margin: 0px 5px 5px 0px;
    padding-right: 5px;
    border-right: 1px solid rgb(127, 127, 127);
}


.session18{
    
    width: 100%;
    height: 200px;
    background-color: #333338;
    
    position: absolute;
    justify-content: center;
    align-items: center;
    
    
}
.s18d{
    position: relative;
    margin-top: 8%;
    width: 100%;
    flex: 1 1 0%;
    height: 1px;
    background: rgb(93, 93, 95);
}
.s18img{
    cursor: pointer;
    position: relative;
    width: 220px;
    height: 50px;
    background-color:#333338;
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    bottom:30px ;
    left: 43%;
    z-index: 100;

}
.session17{
    display: flex;
    width: 100%;
    height: 790px;
    background-color: #333338;
    
    
}
.s17_2{
    width: auto;
    height: auto;
    margin-left: 10%;
   
}
.s17_2 dt{
    color: #A5A5A5;
    margin: 0px 0px 20px;
    font: 12px roboto,sans-serif;
    font-size: 12px;
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    margin: 20px 0px 20px;
    color: rgb(165, 165, 165);
}
.s17_2 dd{
    color: rgb(127, 127, 127);
    margin-left: 0px;
    margin: 0px 5px 5px 0px;
    font: 11px roboto,sans-serif;

}
.session17 a{
    font-size: 11px;
    color: rgb(127, 127, 127);
    letter-spacing: 0.1px;
    text-decoration: none;
    transition: color 0.25s ease-in-out;
    margin: 0px 5px 5px 0px;
    padding-right: 5px;
    border-right: 1px solid rgb(127, 127, 127);
}


.session18{
    
    width: 100%;
    height: 200px;
    background-color: #333338;
    
    position: absolute;
    justify-content: center;
    align-items: center;
    
    
}
.s18d{
    position: relative;
    margin-top: 8%;
    width: 100%;
    flex: 1 1 0%;
    height: 1px;
    background: rgb(93, 93, 95);
}
.s18img{
    cursor: pointer;
    position: relative;
    width: 220px;
    height: 50px;
    background-color:#333338;
    background-image: url('https://in.bmscdn.com/webin/common/icons/logo.svg');
    background-repeat: no-repeat;
    background-size: 150px;
   background-position: 40px;
    bottom:30px ;
    left: 43%;
    z-index: 100;

}
